<div id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/flash' %>
        <% if current_user.owner?(current_org) && current_org.phone_number.blank? %>
          <div class="alert alert-info alert-dismissible" role="alert">
            <button class="close" data-dismiss="alert" type="button">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            You don't have a dedicated phone number yet,
            <%= link_to 'click here to get one.', organisations_choose_phone_number_path, class: 'alert-link' %>
          </div>
        <% end %>
        <h1>
          <%= current_user.organisation.name %> Dashboard
          <small>
            <% if (phone_no = current_org.phone_number).present? %>
              <%= format_number(phone_no, current_org.area_code) %>
            <% end %>
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>
