<div id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/flash' %>

        <h1>Upgrade Account</h1>
      </div>
    </div>
  </div>
</div>
