<div class="panel panel-default">
  <div class="panel-body">
    <div class="pull-right">
      <%= link_to 'Edit Customer', edit_customer_path(customer) %>
    </div>
    <%= link_to customer.name, customer %>
    <span class="stats">
      <span class="stat"><i class="fa fa-envelope"></i> 3</span>
      <span class="stat"><i class="fa fa-gbp"></i> £200</span>
    </span>
  </div>
</div>
