<div class="panel panel-default">
  <div class="panel-body">
    <div class="pull-right">
      <%= link_to 'Edit Customer', edit_customer_path(customer) %>
    </div>
    <%= customer.name %>
  </div>
</div>
