<div class="media message-container">
  <% if message.from_staff? %>
    <div class="media-body text-float-right">
      <%= message.body %>
    </div>
    <div class="media-right">
      <%= gravatar_for(message.sender) %>
    </div>
  <% else %>
    <div class="media-left">
      <%= gravatar_for(message.sender) %>
    </div>
    <div class="media-body">
      <%= message.body %>
    </div>
  <% end %>
</div>
