.user-info {
  padding: 30px;
  background: #eee;

  h3 {
    margin-top: 0;
  }

  .info-block {
    padding: 15px 0;

    &:first-child { padding-top: 0; }
    &:last-child { padding-bottom: 0; }

    .address-line {
      display: block;
    }
  }
}

.stats {
  margin-left: 20px;

  .stat {
    margin: 0 10px;

    &:first-child {
      margin-left:0;
    }
  }
}

.reply {
  margin-top: 20px;
}


.message-container {

  border-top: 1px solid #eee;
  padding-top: 10px;
}
