/* styles */
.center {text-align: center;margin-left: auto;margin-right: auto;}
.bold {font-weight: bold;}

/* colors */
.gray {color: #aaaaaa;}

/* margin */
.hard-top-10 {margin-top: 10px;}
.hard-top-20 {margin-top: 20px;}

/* padding */
.soft-top-10 {padding-top: 10px;}
.soft-top-20 {padding-top: 20px;}
.soft-sides-20 {padding-left:20px;padding-right:20px;}

a.black-icon span {color: #000;}
a.black-icon span:hover {cursor: pointer;}

#error-explanation {
  .error-list {
    margin: 20px 0;
  }
}

.checkbox.center {
  label {
    margin-bottom: 20px;
  }
}

.yes {color:#5fcf80;}
.no  {color:#e15258;}

.text-float-right {text-align:right}
