/* styles */
.center {text-align: center;}
.bold {font-weight:bold;}

/* colors */
.gray {color: #aaaaaa;}

/* margin */
.hard-top-10 {margin-top: 10px;}
.hard-top-20 {margin-top: 10px;}

/* padding */
.soft-top-10 {padding-top: 10px;}
.soft-top-20 {padding-top: 20px;}
