.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #34495e;

  .customer-list {
    list-style: none;
    padding-left: 0;

    li {
      color: #ecf0f1;
      width: 100%;
      min-height: 40px;
      padding: 10px 0 10px 15px;
      border-bottom: 1px solid black;
      transition: color 0.5s ease;

      &:hover {
        border-left: 5px solid #2980b9;
        padding-left: 10px;
      }

      .label {
        margin-right: 10px;
      }

      .name {
        color: #fff;

        &:hover {
          color: #c9c9c9;
        }
      }

      .number {
        color: #eee;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

.content {
  margin-left: 200px;
  margin-top: 20px;
  height: 500px;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.content-container {
  width: 100%;
}

.pricing-header {
  margin-top: 100px;
}
