<ul class="customer-list">
  <% @customers_sidebar.each do |customer| %>
    <li class="customer">
      <%= link_to customer do %>
        <% if customer.has_unseen_message? %>
          <div class="pull-right">
            <span class="label label-success">new</span>
          </div>
        <% end %>
        <div class="name"><%= customer.phone_display_details %></div>
      <% end %>
    </li>
  <% end %>
</ul>
